MONGODB_URI=mongodb+srv://chizupraise31_db_user:y3XKZVBsXgAeLPp6@cluster0.4dkomic.mongodb.net/?appName=Cluster0
PORT=5000
AI_SERVICE_URL=http://localhost:8000
BIMPEAI_API_KEY=
BIMPEAI_BASE_URL=
chizupraise31_db_user
y3XKZVBsXgAeLPp6